# Ignore the .env file
.env

# Ignore node_modules directory
frontend/biniweb/node_modules/

# Ignore compiled output
backend/BiniWeb/bin/
backend/BiniWeb/obj/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore MacOS system files
.DS_Store

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore build artifacts
dist/
